---
import { Picture } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import TableOfContents from '../components/TableOfContents.astro';
import '../styles/blog.css';

export interface Props {
  content: {
    title: string;
    url: string;
    description: string;
    pubDate: string;
    minutesRead: string;
   },
   headings: any;
}
const { content, headings } = Astro.props as Props;
const heroes = (await import.meta.glob("../pages/blog/**/hero.png"));
const hero = (await heroes[`../pages${content.url}/hero.png`]()).default;
const og = `https://og.winans.io/api/blog-og?title=${encodeURIComponent(content.title)}&description=${encodeURIComponent(content.description)}&date=${encodeURIComponent(content.pubDate)}&minutes=${content.minutesRead}`;
---

<Layout title={content.title + ' - Nick Winans'} description={content.description} blog={true} og={og}>
  <main class="container mx-auto max-w-screen-lg p-4 prose dark:prose-a:text-blue-400 prose-a:text-blue-600 prose-img:rounded-xl prose-img:shadow-lg">
    <div class="mb-2 not-prose">
      <a rel="prefetch" class="link" href="/blog">← Go Back</a>
    </div>  
    <h1 class="font-display mb-0">{content.title}</h1>
    <p class="text-xl mt-3 mb-4">{content.description}</p>
    <div class="flex items-center pl-2 mb-2">
      <span>{new Date(content.pubDate).toLocaleDateString('en-us', { year:"numeric", month:"short", day:"numeric"})}</span>
      <span class="divider divider-horizontal"/>
      <span class="badge badge-outline">{content.minutesRead} min read</span>
    </div>
    <div class="flex justify-center gap-6">
      <article class="max-w-prose w-full">
        <Picture transition:name={content.title} formats={['avif', 'webp', 'jpeg']} class="w-full mt-0 mb-6 aspect-[16/9]" alt="" widths={[1600, 800]} sizes="(max-width: 800px) 100vw, 800px" src={hero}/>
        <slot />
      </article>
      <TableOfContents headings={headings} />
    </div>
  </main>
  <footer class="container mx-auto max-w-screen-md p-4 text-center">
    &copy; {new Date().getFullYear()} Nick Winans
  </footer>
  <style>
    @font-face {
			font-family: "JetBrains Mono";
			src: url("/fonts/JetBrainsMono.woff2") format("woff2");
			font-display: fallback;
			unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
				U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
				U+2212, U+2215, U+FEFF, U+FFFD;
    }
  </style>
</Layout>
