---
import Header from "../components/Header.astro";
import Theme from "../components/Theme.astro";
export interface Props {
	title: string;
	description: string;
	og?: string;
	blog?: boolean;
}

const { title, description, og, blog } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<title>{title}</title>
	<meta name="description" content={description} />
	{og && (
		<meta name="twitter:image:src" content={og} />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@winansnick" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={og} />
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:height" content="630" />
		<meta property="og:site_name" content="nick.winans.io" />
		<meta property="og:type" content={blog ? 'article' : 'website'} />
	)}
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Geologica&family=JetBrains+Mono:wght@400;600&family=Lexend+Deca:wght@400;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
	<Header blog={blog}/>
	<slot />
</body>
</html>
